.location {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.place-name > p {
  font-weight: 700;
  font-size: 1rem;
}

.loc-name {
  font-weight: 500;
}

.loc-temp {
  font-size: 36px;
  font-weight: 700;
  color: var(--btn-color);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #DDDCDC;
  margin: 24px 0;
}

@media screen and (max-width: 1440px){
  .loc-temp {
    font-size: 22px;
  }
}