.sunset {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: var(--box-shadow2);
}

.dark{
  background-color: #2c2c2e;
}

.sunset .title {
  font-size: 20px;
  font-weight: 700;
}

.sunset .rise,
.sunset .set {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 1.125rem;
  gap: 12px;
}

.timings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uv {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--text-color);
  box-shadow: var(--box-shadow2);
  display: flex;
  align-items: center;
}

.uv-text {
  color: #fff;
  font-size: 14px;
  margin-left: 0.5rem;
}

.uv-text .uvi {
  font-size: 22px;
}

.uvi {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 0.5rem;
}

.uvi span {
  padding: 4px 10px;
  color: var(--text-color);
  font-size: 12px;
  border-radius: 80px;
  background: #cce16a;
  box-shadow: var(--box-shadow2);
}

@media screen and (max-width: 1440px) {
  .sunset .title {
    font-size: 1rem;
  }

  .timings {
    flex-direction: column;
    align-items: flex-start;
  }

  .uv-text .uvi {
    font-size: 12px;
  }
}
