.bottom-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.today-temp > p {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.bottom-menu {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.bottom-menu li {
  list-style: none;
  padding: 0.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.bottom-menu li:hover,
.bottom-menu li.active {
  box-shadow: inset 100px 0 0 0 var(--btn-color);
  border-radius: 0.5rem;
  color: white;
}

.tomorrow {
  height: 300px;
  width: 250px;
  background-color: #dff296;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow2);
  /* background: url("../../assets/rainy.png") bottom / 200px no-repeat; */
  background-size: 40px 40px;
  animation: rain 5s infinite;
  margin-left: 20px;
}

@keyframes rain {
  0% {
  }
  100% {
  }
}

.tomorrow p {
  margin: 0;
  color: var(--text-color);
}

.place {
  font-weight: 700;
  padding-top: 1.125rem;
}

.tomorrow .temp {
  margin-top: auto;
  font-weight: 700;
  font-size: 36px;
}
