.searchbar {
  margin-left: auto;
}

.searchbar input {
  outline: none;
  border-radius: 1rem;
  background: #fff;
  box-shadow: var(--box-shadow);
    padding: 14px 1rem;
    width: 300px;
    border: none;
}
