.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: sticky;
  z-index: 100;
}

.scroll {
  background-color: var(--text-color);
}

.header>img{
  width: 3rem;
  border-radius: 50%;
}

.greet {
  margin-left: 0.5rem;
  margin-right: auto;
}

.greet p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.greet p:last-child {
  font-size: calc(22rem/16rem);
  font-weight: 700;
}

.notification {
  background-color: var(--btn-color);
  padding: 11px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6),
    inset 0px -1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  margin-left: 13px;
}
